html{
    scroll-behavior: smooth;
}


body{
    margin: 0;
    width: 100%;
    font-family: 'Roboto Mono';
    
}

.home{
    height: 50px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-content: space-around;
    background-color: #252526;
}

.home a {
    text-decoration: none;
    color:whitesmoke;
}

.home a:hover{
    color:grey;
}

.home div{
    margin-right:5%;
    color: whitesmoke;
    font-weight: 700;
}

#about{
    background-color: whitesmoke;
    height: 500px;
    width: 100%;
    position: relative;
    font-family: 'Roboto Mono';
}

#about div{
    background-color:#252526;
    color: whitesmoke;
    height: 40%;
    width: 15%;
    position: absolute;
    right:15%;
    top:5%;
    padding:2%;
}

#about div div{
    width: 64%;
    height: 10%;
    font-size: 20px;
    margin-top: 5%;
    font-weight: 600;
}

#about div ul{
    margin-top: 20%;
}


#about p{
    background-color:#252526;
    color: whitesmoke;
    height: 16%;
    width: 42%;
    text-align: justify;
    padding: 2%;
    position: absolute;
    top:60%;
    left:5%;
}

#projects {
    height: 700px;
    width: 100%;
    background-color: #252526;
    display: flex;
    flex-wrap: wrap;
    position:relative;
}

#projects h1{
   color:whitesmoke;
   margin-left: 4%;
}

.project-card{
    border:2px solid whitesmoke;
    border-radius: 5px;
    height: 50%;
    width:20%;
    color: whitesmoke;
    background-color: #252526;
    
}

.project-card h3{
    margin-left:5%;
}

.project-card img{
    width:100%;
    height: 50%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.project-card p{
    text-align: justify;
    padding:5%;
    font-size: 15px;
}

#al-1{
    position: absolute;
    left:20%;
    top:5%;
}

#al-2{
    position: absolute;
    left:45%;
    top:25%;
}

#al-3{
    position: absolute;
    left: 70%;
    top:35%;
}

#contact{
    width: 100%;
    height: 300px;
    position: relative;
    
}

#contact h1{
    background-color: #252526;
    color:whitesmoke;
    position: absolute;
    right:4%;
    top:0;
    border:1px solid #252526;
    padding: 1%;
}

#contact div{
    border:1px solid #252526;
    padding: 0.5%;
    background-color: #252526;
    color: whitesmoke;
}



#al-4{
    position: absolute;
    right:20%;
    top:39%;
    width:35%;
}

#al-5{
    position:absolute;
    right:43%;
    top:65%;
    width:20%;
}

#al-6{
    position: absolute;
    left:12%;
    top:85%;
    width:20%;
}


/* Media querries */

@media (max-width:1200px){
    #about{
        height: 700px;
    }

    #about div ul{
        margin-top: 40%;
    }
    #contact{
        height: 400px;
    }

    #al-5{
        position:absolute;
        right:50%;
    }
}

@media (max-width:1030px){

    #about div{
        height: 250px;
        width: 170px;
    }

    #about p{
        height: 20%;
        width:45%;
    }
}

@media (max-width:960px){

    #about p{
        height:10% ;
    }

    #projects {
        height: 750px;
    }

    .project-card{
        height: 45%;
    }

    .project-card p {
        font-size: 13px;
    }

    #about p{
        font-size: 14px;
    }

    #about img{
        height: 50%;
        
    }

    #al-1{
        position: absolute;
        top:9%;
    }
}

@media (max-width:750px){

    #about p{
        height: 13%;
    }

    .project-card{
        width: 25%;
    }

    #al-1{
        position: absolute;
        left:10%;
        top:10%;
    }

    #al-2{
        position: absolute;
        left:40%;
        top:26%;
    }

    #al-3{
        position: absolute;
        top:40%;
    }
}

@media (max-width:650px){

    #al-4{
        height: 15%;
        width:40%;
    }
    #al-5{
        position:absolute;
        right:55%;
    }
}

@media (max-width:575px){

    .project-card{
        width: 30%;
        font-size:12px;
    }

    #al-1{
        position: absolute;
        left:1%;
    }

    #al-2{
        position: absolute;
        left:33%;
    }

    #al-3{
        position: absolute;
        left:65%;
    }

    #al-4{
        width:45%;
    }
}

@media (max-width:504px){
    #projects{
        height: 1200px;
    }

    .project-card{
        height: 27%;
        width:40%;
    }

    #projects h1{
        margin-left: 35%;
    }

    #al-1{
        position: absolute;
        left:30%;
        top:10%;
    }

    #al-2{
        position: absolute;
        left:30%;
        top:40%;
    }

    #al-3{
        position: absolute;
        left:30%;
        top:70%;
    }
    #about div{
        position: absolute;
        right:29%;
    }

    #about p{
        height: 17%;
        width: 50%;
        position: absolute;
        left:24%;
    }

    #contact h1{
        position: absolute;
        right:35%;
    }

    #al-4{
        position:absolute;
        right:26%;
        font-size:14px;
        width:52%;
    }

    #al-5{
        position: absolute;
        right:40%;
        font-size: 14px;
    }

    #al-6{
        position: absolute;
        left:38.5%;
        font-size: 14px;
    }
}

@media(max-width:450px){

    #about div div{
        font-size: 17px;
        position: relative;
        left:20px;
    }

    #about p{
        font-size: 13px;
        margin-top: 0;
    }
}

@media (max-width:400px){


    #about p{
        padding: 5%;
        position: absolute;
        left: 18%;
    } 


    #projects h1{
        margin-left:31%;
    }

    #contact h1{
        position: absolute;
        right:40%;
    }

    #al-4{
        position: absolute;
        right:20%;
        width: 58%;
        
    }

    #contact h1{
        position: absolute;
        right:30%;
    }
}

@media (max-width:350px){

    #about div{
        position: absolute;
        right: 25%;
    }

    #about p{
        padding:5%;
    }

    #projects h1{
        margin-left:29%;
    }

    .project-card{
        width:50%;
    }

    #al-1, #al-2, #al-3{
        position:absolute;
        left:26%;
    }

    #al-4{
        width: 70%;
        position: absolute;
        right:15%;
    }

    #al-5, #al-6{
        width: 22%;
    }

    #al-6{
        position:absolute;
        left:36%;
    }
}